.mainDiv {
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    margin-left: 15vw;
    margin-right: 12vw;
    align-items: center;
    justify-content: center;
}

.firstMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.firstDivPara {
    color: #6e7399;
    font-weight: 600;
    font-size: 16px;
}

.firstDivH1 {
    font-weight: 700;
    font-size: 48px;
    width: 80%;
    margin-top: 8px;
}

.secDiv {
    position: relative;
    margin-top: 40px;
}

.innerFirstDiv {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 12px;
}

.cardsMain {
    display: flex;
    gap: 12px;
    align-items: center;
}

.spanOne {
    background-color: #F0BB1F;
    color: white;
    border-radius: 6px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.spanTwo {
    background-color: #F15A2B;
    color: white;
    border-radius: 6px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.spanThree {
    background-color: #006380;
    color: white;
    border-radius: 6px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.crH1 {
    color: #5E6282;
    font-weight: 600;
    font-size: 14px;
}

.crPara {
    color: #5E6282;
    width: 66.666667%;
    font-size: 13px;
}

.secInnerFirst {
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    width: 310px;
    height: 340px;
    margin-right: 64px;
}

.imgDiv {
    width: 100%;
    height: 140px;
    overflow: hidden;
    border-radius: 16px;
}

.myFirstImg {
    border-radius: 16px;
}

.innerSecH1 {
    color: #181818;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.innserSecPara {
    color: #84829A;
    font-size: 13px;
    margin-top: 4px;
}

.innerDivSec {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    padding-left: 8px;
}

.iconPara {
    padding: 8px;
    border-radius: 9999px;
    background-color: #F5F5F5;
    font-size: 12px;
}

.icons {
    color: #84829A;
}

.innerThirdDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.thirdDivInnerDiv {
    display: flex;
    align-items: center;
    color: #84829A;
    gap: 12px;
    font-size: 14px;
}

.thirdDivInnerDivSpan {
    color: #84829A;
    font-size: 18px;
}

.thirdDivInnerDivPara {
    color: #84829A;
    font-size: 20px;
}

.lastDivInner {
    position: absolute;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 15px 30px -12px rgba(0, 0, 0, 0.25);
    gap: 8px;
    padding: 12px;
    display: flex;
    top: 240px;
    right: -22px;
    width: 220px;
    height: 100px;
    transform: translateY(-50%);
}

.mySecImg {
    border-radius: 9999px;
}

.lastDivPara {
    color: #7e82a3;
    font-size: 12px;
}

.lastDivH1 {
    font-size: 14px;
    font-weight: 600;
}

.lastDivParaSec {
    font-size: 11px;
    margin-top: 8px;
    font-weight: 600;
}

.lastDivParaSecSpan {
    color: #7e82a3;
    font-size: 12px;
    font-weight: 400;
}

.lastDivLastInner {
    background-color: #f3f4f6;
    margin-top: 4px;
    border-radius: 9999px;
    height: 4px;
    width: 130px;
}

.lineDiv {
    background-color: #3b82f6;
    height: 4px;
    border-radius: 9999px;
    width: 40%;
}


@media (max-width: 768px) {
    .mainDiv {
        flex-direction: column;
        margin-top: 128px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .firstMain {
        align-items: center;
    }

    .firstDivH1 {
        width: 100%;
    }

    .innerFirstDiv {
        gap: 16px;
    }

    .crPara {
        width: 100%;
    }

    .secInnerFirst {
        width: 310px;
        height: 340px;
    }

    .innerSecH1 {
        margin-top: 12px;
    }
}

@media (max-width: 600px) {
    .mainDiv {
        flex-direction: column;
        margin-top: 128px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .firstMain {
        width: 100%;
    }

    .firstDivH1 {
        font-size: 30px;
        width: 100%;
    }

    .innerFirstDiv {
        gap: 16px;
        margin: 20px 10px;
    }

    .secInnerFirst {
        width: 280px;
        height: 300px;
        margin-right: 12px;
    }

    .imgDiv {
        height: 120px;
    }

    .innerDivSec {
        gap: 4px;
    }

    .innerThirdDiv {
        margin-top: 16px;
    }

    .lastDivInner {
        top: 200px;
        right: -20px;
        width: 180px;
        height: 80px;
    }

    .lastDivPara {
        font-size: 10px;
    }

    .lastDivH1 {
        font-size: 12px;
    }

    .lastDivParaSec {
        margin-top: 4px;
    }

    .lastDivLastInner {
        width: 100px;
    }
}