.mainDiv {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 144px;
    margin-bottom: 64px;
}


.company {
    height: 70px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 4px 12px;
    flex-shrink: 0;

}
.company:hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

@media (max-with: 786px) {
    
}
@media (max-with: 600px) {
    .mainDiv {
        width: 100%;
        margin-top: 80px;
    }
}